.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}
table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    width: 60%;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
th {
    text-align: left;
}