<?php
$helper = Mage::helper('rjs_subregistry');
$customer = Mage::getSingleton('customer/session')->getCustomer();
$product_id = Mage::registry('current_product')->getId();
$product = Mage::getModel('catalog/product')->load($product_id);
$product_quantity = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($product)->getQty();


if($product_quantity == 0):?>

    <form action="<?php echo $this->getUrl('subregistry/index/newEmail/') ?>" method="post" id="form-validate">
        <fieldset>
            <?php echo $this->getBlockHtml('formkey')?>
            <ul class="form-list">
                <li class="field">
                    <label class="subreg" for="email"><?php echo $this->__('Email') ?></label>
                    <input type="email" name="email" id="email" value="" title="Email"/>
                </li>
                <li>
                    <input type="hidden" id="product_id" name="product_id" value="<?php echo $product_id; ?>">
                </li>
            </ul>
            <div class="buttons-set">
                <button type="submit" title="Poinformuj mnie o dostępności produktu" class="button">
                    <span><span><?php echo $this->__('Poinformuj mnie o dostępności produktu') ?></span></span>
                </button>
            </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
<?php else: ?>

    <?php if(!empty($customer->getEmail()) && $product_quantity == 0):?>
    <form action="<?php echo $this->getUrl('subregistry/index/newEmail/') ?>" method="post" id="form-validate">
        <fieldset>
            <?php echo $this->getBlockHtml('formkey')?>
            <div class="buttons-set">
                <input type="hidden" id="email" name="email" value="<?php echo $customer->getEmail(); ?>">
                <input type="hidden" id="product_id" name="product_id" value="<?php echo $product_id; ?>">
                <button type="submit" title="Poinformuj mnie o dostępności produktu" class="button">
                    <span><span><?php echo $this->__('Poinformuj mnie o dostępności produktu') ?></span></span>
                </button>
            </div>
        </fieldset>
    </form>
    <?php endif; ?>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>


<?php endif; ?>