<?php
$_collection = $this->getCustomer();
?>
<div class="page-title">
    <h1><?php echo $this->__('OBSERVED PRODUCTS') ?></h1>
</div>

<table class="account-box table table-striped">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product SKU</th>
        <th>Product price</th>
    </tr>
    </thead>
    <tbody>
    <?php
foreach($_collection as $require):
    $product = Mage::getModel('catalog/product')
        ->load($require->getProductId());?>
    <tr>
    <td><?php echo $product->getId();?></td>
    <td><?php echo $product->getName();?></td>
    <td><?php echo $product->getSKU();?></td>
    <td><?php echo $product->getPrice();?></td>
    </tr>
<?php endforeach; ?>
    </tbody>
</table>